<!DOCTYPE html>
<html>
  <head>
    <title>NoSprocketsRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag css_for('application') %>
    <%= javascript_include_tag script_for('application') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
