<!DOCTYPE html>
<html>
  <head>
    <title>NoSprocketsRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag script_for('application'), media: 'all' %>
    <%= javascript_include_tag css_for('application') %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
